ody {
    overflow: auto;
}

/*Adding a background color to the navbar*/
.topnav {
background-color: rgb(211, 80, 28);
overflow: hidden;
}
/*Styling the links inside the navbar*/
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 18px 24px;
    text-decoration: none;
    font-size: 40px;
    font-weight: 800;
    height: 45px;
}
/*Changing color on hover*/
.topnav a:hover {
    background-color: red;
    color: lawngreen;
}
/*Adding color to the active or current link*/
.topnav a.active {
    background-color: rgb(0, 80, 252);
    color: red;
}

