body {
    overflow: auto;
}

/*Adding a background color to the navbar*/
.topnav {
background-color: rgb(211, 80, 28);
overflow: hidden;
}
/*Styling the links inside the navbar*/
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 18px 24px;
    text-decoration: none;
    font-size: 40px;
    font-weight: 800;
    height: 45px;
}
/*Changing color on hover*/
.topnav a:hover {
    background-color: red;
    color: lawngreen;
}
/*Adding color to the active or current link*/
.topnav a.active {
    background-color: rgb(0, 80, 252);
    color: red;
}

body, html {
  height: 100%;
}

/* The hero image */
.hero-image {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/k2.jpg");

/* Set a specific height */
height: 80%;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

/* Place text in the middle of the image */
.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
font-weight: 900;
font-size: 40px;
}

.banner
{
  margin-top: 70px;
  margin-bottom: 25px;
  /* Placed my banner image in css(here) */ 
	background-size: contain;
	background-size: cover;
	background-position: 100% 100%; 
  background-repeat: no-repeat;
  height: 350px;
  position: absolute;
  margin-right: 40%;
  
}

.banner-text {
  width: 450px;
  background-color: rgb(41, 14, 18);
  color: azure;
	padding: 3%;
	position: relative;
	left: 3%;
  top: 8%;
  border-radius: 15px;
}
.aboutme p {
    overflow: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
}
